@model Xianer_SkiClub.Models.Membership

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.membershipState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.membershipState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.membershipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
