@model Xianer_SkiClub.Models.AppointmentUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AppointmentUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appointmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appointmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.appointmentUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
